<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @loan.student_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @loan.book_id %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
